<header>
  <div class="header-container container">
    <div class="left-side">
      <a href="#"><h1 class="logo">snap</h1></a>

      <nav>
        <ul>
          <!-- Features dropdown -->
          <li>
            <app-dropdown variant="Features"></app-dropdown>
          </li>

          <!-- Company dropdown -->
          <li>
            <app-dropdown variant="Company"> </app-dropdown>
          </li>

          <!-- Simple links -->
          <li>Careers</li>
          <li>About</li>
        </ul>
      </nav>
    </div>

    <div class="auth">
      <a class="btn login-btn" href="#">Login</a>
      <a class="btn reg-btn" href="#">Register</a>
    </div>
  </div>
</header>
