.partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;

  img {
    cursor: pointer;
  }
}

@media only screen and (max-width: 375px) {
  .partners {
    img {
      width: 20%;
    }
  }
}
