<div class="hero-section container">
  <div class="left-side">
    <div class="content">
      <h1>
        Make <br />
        remote work
      </h1>
      <div class="about">
        <p>
          Get your team in sync, no matter your location Streamline processes,
          create team rituals, and watch productivity soar.
        </p>
        <a href="#" class="btn more-btn">Learn more</a>
      </div>
      <app-partner></app-partner>
    </div>
  </div>
  <div class="right-side">
    <img src="image-hero-desktop.png" alt="" />
  </div>
</div>
