<div class="dropdown">
  <button class="dropdown-btn" (click)="toggleDropdown()">
    {{ variant }}
    <span class="arrow" [class.open]="isOpen">
      <img src="icon-arrow-down.svg" alt="arrow" />
    </span>
  </button>

  <ul class="dropdown-menu" *ngIf="isOpen && variant === 'Features'">
    <li *ngFor="let item of Features">
      <img *ngIf="item.icon" [src]="item.icon" alt="{{ item.label }} icon" />
      <span>{{ item.label }}</span>
    </li>
  </ul>

  <ul class="dropdown-menu" *ngIf="isOpen && variant === 'Company'">
    <li *ngFor="let item of Company">
      <span>{{ item.label }}</span>
    </li>
  </ul>
</div>
