<div
  class="dropdown"
  (mouseenter)="isOpen = true"
  (mouseleave)="isOpen = false"
>
  <button class="dropdown-btn" (click)="toggleDropdown()">
    {{ title }}
    <span class="arrow" [class.open]="isOpen"
      ><img src="icon-arrow-down.svg" alt=""
    /></span>
  </button>

  <ul class="dropdown-menu" *ngIf="isOpen">
    <li *ngFor="let item of items">
      <img *ngIf="item.icon" [src]="item.icon" alt="{{ item.label }} icon" />
      <span>{{ item.label }}</span>
    </li>
  </ul>
</div>
